.seeMore, .start{
    background-color: var(--buttonColor);
}

.greenButton{
    background-color: #008900;
}

.redButton{
    background-color: #7d3232;
}

.allButtons{
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.allButtons a{
    text-decoration: none;
    color: white;
}


