.ctCard{
    background-color: var(--buttonColor2);
    border-radius: 6px;
    width: 90rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.card{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ctTermsAndPolicy{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.ctEmployees{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ctEmployee{
    background-color: var(--buttonColor2);
    border-radius: 6px;
    width: 90rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.2rem;
}