.NavBar{
    display: flex;
    background-color: var(--primaryColor);
    border-bottom: 2px solid var(--buttonColor);
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    z-index: 10;
}

/*Links em geral*/

.NavBar a{
    text-decoration: none;
    color: #fff;
}

/*Titulo*/

.NavBar span{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

/*Elemento pai das Opcoes*/

.NavBar ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

/*Opcoes*/

.NavBar ul li a{
    font-size: 1.2rem;
    font-weight: 500;
}

.NavBar ul li a::after{
    content: "_";
    font-weight: 900;
    color: var(--buttonColor);
}