.NavBar{
    display: flex;
    background-color: var(--secondaryColor);
    border-bottom: 2px solid var(--buttonColor);
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.NavBar a{
    text-decoration: none;
    color: #fff;
}

.NavBar span{
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.NavBar ul{
    display: flex;
    list-style: none;
    gap: 1em;
}

.NavBar ul li a::after{
    content: "_";
    font-weight: 700;
    color: var(--buttonColor);
}