:root{
    --primaryColor: #153ffb;
    --secondaryColor: #4a5cac;
    --tertiaryColor: #5D6794;
    --buttonColor: #272933;
    --buttonColor2: #505361;
}

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}